In [0]:
rdd1 = sc.textFile("/FileStore/tables/bankmarketing.txt")
header = rdd1.first()
rdd2 = rdd1.filter(lambda x : x != header).filter(lambda x : len(x) > 1)
rdd3 = rdd2.map(lambda x : x.split(';'))

In [0]:
no_subscribed = rdd3.filter(lambda x : x[16] == 'yes').count()
total_count = rdd3.count()
success_rate = (no_subscribed / total_count) * 100
print(success_rate)

11.698480458295547

In [0]:
failure_rate = 100 - success_rate
print(failure_rate)

88.30151954170445

In [0]:
ages = rdd3.map(lambda x : int(x[0]))
max_age = ages.max()
print("maximum age is ",max_age)
min_age = ages.min()
print("minimum age is ",min_age)
mean_age = ages.mean()
print("mean age is ",mean_age)

maximum age is  95
minimum age is  18
mean age is  40.93621021432832

In [0]:
balances = rdd3.map(lambda x : float(x[5]))
avg_balance = balances.mean()

def findMedian(count, balances):
   if count%2 == 0:
        median = (balances[(count//2)] + balances[(count//2) + 1])//2
   else:
        median = balances[(count + 1)//2]
   return median

median = findMedian(balances.count(), balances.collect())
print(median)

239.0

In [0]:
age_rdd = rdd3.map(lambda x :(x[0],1))
age_rdd_grouped = age_rdd.reduceByKey(lambda a,b : a + b)
age_rdd_grouped_sorted = age_rdd_grouped.sortBy(lambda x : x[1], ascending=False)
age_rdd_grouped_sorted.collect()

Out[40]: [('32', 2085),
 ('31', 1996),
 ('33', 1972),
 ('34', 1930),
 ('35', 1894),
 ('36', 1806),
 ('30', 1757),
 ('37', 1696),
 ('39', 1487),
 ('38', 1466),
 ('40', 1355),
 ('41', 1291),
 ('42', 1242),
 ('45', 1216),
 ('29', 1185),
 ('46', 1175),
 ('43', 1161),
 ('44', 1136),
 ('47', 1088),
 ('28', 1038),
 ('48', 997),
 ('49', 994),
 ('50', 939),
 ('51', 936),
 ('52', 911),
 ('27', 909),
 ('53', 891),
 ('57', 828),
 ('54', 811),
 ('55', 806),
 ('26', 805),
 ('56', 778),
 ('59', 770),
 ('58', 740),
 ('60', 596),
 ('25', 527),
 ('24', 302),
 ('23', 202),
 ('61', 147),
 ('22', 129),
 ('62', 80),
 ('21', 79),
 ('63', 77),
 ('64', 74),
 ('70', 67),
 ('66', 63),
 ('65', 59),
 ('67', 54),
 ('71', 54),
 ('72', 52),
 ('20', 50),
 ('69', 44),
 ('73', 44),
 ('77', 44),
 ('75', 39),
 ('74', 37),
 ('68', 36),
 ('19', 35),
 ('76', 32),
 ('80', 31),
 ('78', 30),
 ('79', 25),
 ('83', 22),
 ('82', 19),
 ('81', 17),
 ('18', 12),
 ('86', 9),
 ('84', 9),
 ('85', 5),
 ('87', 4),
 ('89', 3),
 ('93', 2),
 ('88', 2),
 ('90', 2),
 ('95', 2),
 ('92', 2),
 ('94', 1)]

In [0]:
marital_rdd = rdd3.map(lambda x :(x[2],1))
marital_rdd_grouped = marital_rdd.reduceByKey(lambda a,b : a + b)
marital_rdd_grouped_sorted = marital_rdd_grouped.sortBy(lambda x : x[1], ascending=False)
marital_rdd_grouped_sorted.collect()

Out[41]: [('married', 27214), ('single', 12790), ('divorced', 5207)]

In [0]:
marital_age_rdd = rdd3.map(lambda x :((x[0],x[2]),1))
marital_age_rdd_grouped = marital_age_rdd.reduceByKey(lambda a,b : a + b)
marital_age_rdd_grouped_sorted = marital_age_rdd_grouped.sortBy(lambda x : x[1], ascending=False)
marital_age_rdd_grouped_sorted.collect()

Out[42]: [(('34', 'married'), 1131),
 (('35', 'married'), 1077),
 (('36', 'married'), 1076),
 (('33', 'married'), 1075),
 (('37', 'married'), 1073),
 (('31', 'single'), 1017),
 (('30', 'single'), 1012),
 (('32', 'married'), 1007),
 (('39', 'married'), 960),
 (('32', 'single'), 941),
 (('40', 'married'), 929),
 (('38', 'married'), 905),
 (('45', 'married'), 893),
 (('31', 'married'), 881),
 (('41', 'married'), 875),
 (('46', 'married'), 852),
 (('42', 'married'), 840),
 (('47', 'married'), 826),
 (('43', 'married'), 805),
 (('44', 'married'), 782),
 (('33', 'single'), 746),
 (('49', 'married'), 733),
 (('51', 'married'), 710),
 (('48', 'married'), 707),
 (('50', 'married'), 699),
 (('52', 'married'), 699),
 (('28', 'single'), 697),
 (('29', 'single'), 683),
 (('30', 'married'), 675),
 (('27', 'single'), 658),
 (('53', 'married'), 657),
 (('34', 'single'), 650),
 (('57', 'married'), 642),
 (('35', 'single'), 631),
 (('26', 'single'), 615),
 (('55', 'married'), 589),
 (('58', 'married'), 584),
 (('59', 'married'), 583),
 (('54', 'married'), 579),
 (('56', 'married'), 564),
 (('36', 'single'), 538),
 (('60', 'married'), 465),
 (('29', 'married'), 463),
 (('37', 'single'), 453),
 (('25', 'single'), 423),
 (('38', 'single'), 394),
 (('39', 'single'), 346),
 (('28', 'married'), 325),
 (('40', 'single'), 257),
 (('24', 'single'), 248),
 (('41', 'single'), 241),
 (('27', 'married'), 233),
 (('42', 'single'), 218),
 (('46', 'divorced'), 193),
 (('36', 'divorced'), 192),
 (('35', 'divorced'), 186),
 (('42', 'divorced'), 184),
 (('44', 'divorced'), 184),
 (('43', 'single'), 183),
 (('39', 'divorced'), 181),
 (('45', 'divorced'), 177),
 (('54', 'divorced'), 177),
 (('41', 'divorced'), 175),
 (('23', 'single'), 175),
 (('43', 'divorced'), 173),
 (('44', 'single'), 170),
 (('37', 'divorced'), 170),
 (('26', 'married'), 170),
 (('56', 'divorced'), 169),
 (('40', 'divorced'), 169),
 (('38', 'divorced'), 167),
 (('48', 'divorced'), 166),
 (('50', 'divorced'), 164),
 (('55', 'divorced'), 163),
 (('53', 'divorced'), 163),
 (('47', 'divorced'), 162),
 (('49', 'divorced'), 160),
 (('51', 'divorced'), 154),
 (('59', 'divorced'), 151),
 (('33', 'divorced'), 151),
 (('52', 'divorced'), 150),
 (('34', 'divorced'), 149),
 (('57', 'divorced'), 148),
 (('45', 'single'), 146),
 (('32', 'divorced'), 137),
 (('46', 'single'), 130),
 (('48', 'single'), 124),
 (('61', 'married'), 123),
 (('58', 'divorced'), 121),
 (('22', 'single'), 120),
 (('60', 'divorced'), 104),
 (('49', 'single'), 101),
 (('47', 'single'), 100),
 (('31', 'divorced'), 98),
 (('25', 'married'), 98),
 (('50', 'single'), 76),
 (('21', 'single'), 74),
 (('62', 'married'), 74),
 (('51', 'single'), 72),
 (('53', 'single'), 71),
 (('30', 'divorced'), 70),
 (('63', 'married'), 68),
 (('64', 'married'), 65),
 (('52', 'single'), 62),
 (('54', 'single'), 55),
 (('55', 'single'), 54),
 (('24', 'married'), 53),
 (('66', 'married'), 53),
 (('70', 'married'), 53),
 (('65', 'married'), 50),
 (('20', 'single'), 47),
 (('56', 'single'), 45),
 (('72', 'married'), 44),
 (('67', 'married'), 43),
 (('71', 'married'), 42),
 (('29', 'divorced'), 39),
 (('57', 'single'), 38),
 (('77', 'married'), 38),
 (('73', 'married'), 36),
 (('59', 'single'), 36),
 (('19', 'single'), 35),
 (('58', 'single'), 35),
 (('69', 'married'), 34),
 (('74', 'married'), 32),
 (('80', 'married'), 29),
 (('60', 'single'), 27),
 (('23', 'married'), 27),
 (('75', 'married'), 27),
 (('68', 'married'), 26),
 (('76', 'married'), 24),
 (('26', 'divorced'), 20),
 (('61', 'divorced'), 19),
 (('27', 'divorced'), 18),
 (('78', 'married'), 18),
 (('79', 'married'), 17),
 (('28', 'divorced'), 16),
 (('70', 'divorced'), 13),
 (('83', 'married'), 12),
 (('75', 'divorced'), 12),
 (('78', 'divorced'), 12),
 (('18', 'single'), 12),
 (('71', 'divorced'), 11),
 (('82', 'married'), 10),
 (('22', 'married'), 9),
 (('65', 'divorced'), 9),
 (('64', 'divorced'), 9),
 (('81', 'married'), 9),
 (('82', 'divorced'), 9),
 (('76', 'divorced'), 8),
 (('81', 'divorced'), 8),
 (('67', 'divorced'), 8),
 (('79', 'divorced'), 8),
 (('83', 'divorced'), 8),
 (('69', 'divorced'), 8),
 (('63', 'divorced'), 7),
 (('25', 'divorced'), 6),
 (('62', 'divorced'), 6),
 (('86', 'married'), 6),
 (('84', 'married'), 6),
 (('68', 'divorced'), 6),
 (('73', 'divorced'), 6),
 (('21', 'married'), 5),
 (('66', 'single'), 5),
 (('61', 'single'), 5),
 (('72', 'single'), 5),
 (('77', 'divorced'), 5),
 (('66', 'divorced'), 5),
 (('74', 'divorced'), 5),
 (('68', 'single'), 4),
 (('85', 'married'), 4),
 (('20', 'married'), 3),
 (('72', 'divorced'), 3),
 (('67', 'single'), 3),
 (('87', 'married'), 3),
 (('84', 'divorced'), 3),
 (('83', 'single'), 2),
 (('90', 'divorced'), 2),
 (('63', 'single'), 2),
 (('69', 'single'), 2),
 (('73', 'single'), 2),
 (('80', 'divorced'), 2),
 (('93', 'married'), 2),
 (('88', 'married'), 2),
 (('89', 'married'), 2),
 (('86', 'divorced'), 2),
 (('92', 'married'), 2),
 (('85', 'divorced'), 1),
 (('94', 'divorced'), 1),
 (('95', 'divorced'), 1),
 (('77', 'single'), 1),
 (('70', 'single'), 1),
 (('87', 'divorced'), 1),
 (('86', 'single'), 1),
 (('89', 'divorced'), 1),
 (('24', 'divorced'), 1),
 (('71', 'single'), 1),
 (('95', 'married'), 1)]